.flags {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.flagBtn {
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.2s;
  line-height: 0;
}

.flagBtnActive {
  opacity: 1;
}

.flagIcon {
  font-size: 1.1rem;
}
